// HEADER :: START
section#section-top
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      .hamburger.hamburger--spin(js-hamburger)
        .hamburger-box
          .hamburger-inner
      .header__list
        .header__image
          img(src="img/logotype.png", alt="")
        a.header__item(href="#section-about") About Us
        a.header__item(href="#section-board") Medical Advisory Board
        a.header__item(href="#section-platforms") Our Platforms
        a.header__item(href="#section-contacts") Contact Us
      .header__socials
        a(href="#")
          img(src="img/in.svg", alt="")
        a(href="#")
          img(src="img/tw.svg", alt="")
        a(href="#")
          img(src="img/yt.svg", alt="")
// HEADER :: END
