// HEADER :: START
section#section-top
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      .hamburger.hamburger--spin(js-hamburger)
        .hamburger-box
          .hamburger-inner
      .header__list
        a.header__item(href="#") About Us
        a.header__item(href="#") Medical Advisory Board
        a.header__item(href="#") Our Platforms
        a.header__item(href="#") Contact Us
      .header__socials
        a(href="#")
          img(src="img/in.svg", alt="")
        a(href="#")
          img(src="img/tw.svg", alt="")
        a(href="#")
          img(src="img/yt.svg", alt="")
// HEADER :: END
