// PRELOADER :: BEGIN

.preloader.preloader--gray
  .preloader__overlay
  .preloader__img
    img(src="img/logotype.png", alt="")
  //- p.preloader__title SEI-Healthcare 
  .preloader__health
    img(src="img/healthcare.svg", alt="")
  p.preloader__info
    //- span Loading
    .lds-ellipsis
      div
      div
      div
      div

// PRELOADER :: END