---
title: Medsims
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section
    .firstscreen
      .firstscreen__info
        h1(data-aos='fade-up') SEI-Healthcare
  
  // END SECTION :: firstscreen

  // BEGIN SECTION :: mission
  section.mission
    .container
      p.mission__title Our Mission
      p.mission__info Our mission is to organise the world’s medical information and make it universally accessible and useful to Doctors through technological innovation.

  // END SECTION :: mission