.cardiology
  padding: 95px 0 90px
  background: url(../img/bg-cardiology.jpg) center center no-repeat
  background-size: cover
  .container
    max-width: 1280px
  &__grid
    display: flex
    align-items: flex-start
    justify-content: flex-start
  &__profs
    min-width: 250px
    padding-top: 11px
    display: flex
    flex-direction: column
    ul
      padding: 0
      margin: 0
      li
        display: flex
        align-items: center
        min-height: 27px
        margin-bottom: 9px
  &__title
    font-size: 36px
    font-family: $black
    color: #fff
    padding-left: 20px
  &__content
    max-width: 884px
    padding-left: 30px
    width: 100%
    margin-left: auto
  &__body
    display: flex
    font-size: 0
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-between
  &__info
    min-width: 300px
    width: 47%
    padding: 0 0 0 20px
    font-size: 20px
    font-family: $book
    color: #D2B57F
    margin-top: 50px
    line-height: 1.2
    margin-bottom: 5px

  &__item
    width: auto
    max-width: 100%
    display: inline-block
    transition: all $transitionSpeed $ease
    font-size: 14px
    // min-height: 25px
    color: #fff
    opacity: 0.7
    position: relative
    &:before
      position: absolute
      display: block
      content: ''
      width: 10px
      height: 10px
      background: url(../img/triangle.svg) center center no-repeat
      background-size: contain
      left: -28px
      top: 50%
      transform: translateY(-50%)
      opacity: 0
      transition: all $transitionSpeed $ease
    &:hover
      opacity: 1
    &.is-active
      font-size: 20px
      opacity: 1
      padding-left: 2px
      &:before
        opacity: 1
        left: -13px
  &__tab
    display: none
    &:first-child
      display: block

+r($desktop)
  .cardiology
    padding: 80px 0
    &__title
      font-size: 32px
    &__info
      width: 100%
      margin-top: 35px
      margin-bottom: 0
    &__content
      padding-left: 0

+r($tablet)
  .cardiology
    padding: 70px 0 90px
    &__grid
      flex-wrap: wrap
    &__profs
      min-width: 1px
      width: 100%
      padding: 0 25px
      position: relative
      padding-bottom: 46px
      margin-bottom: 58px
      border-bottom: 1px solid rgba(255,255,255,0.25)
    &__title
      padding-left: 0
      text-align: center
      width: 100%
      font-size: 36px
    &__info
      padding-left: 0
      margin-top: 34px
    &__body
      padding-top: 30px
    .slick-dots
      // display: none
    .pagingInfo
      position: absolute
      color: #8A9AB0
      left: 50%
      transform: translateX(-50%)
      bottom: 32px
      letter-spacing: 2px
    &__item
      width: 100%
      text-align: center
      font-size: 20px
      opacity: 1
      padding-left: 0
      &.is-active
        font-size: 20px
        opacity: 1
        padding-left: 0
      &:before
        display: none
    .slick-arrow
      position: absolute
      width: 30px
      height: 30px
      top: 12px
      font-size: 0
      padding: 0
      margin: 0
      color: transparent
      border: none
      &.slick-prev
        left: -34px
        background: url(../img/arrow-left.svg) center center no-repeat
        background-size: contain
      &.slick-next
        right: -34px
        background: url(../img/arrow-right.svg) center center no-repeat
        background-size: contain