/* HEADER
.header
  position: absolute
  top: 0
  right: 0
  left: 0
  background: transparent
  z-index: 100
  transform: translate3d(0,0,0)
  padding-top: 51px
  // &.is-fixed-start
  //   position: fixed
  //   background: rgba(0,0,0,0.9)
  //   transform: translate3d(0,-100%,0)
  //   .header__wrapper
  //     padding: 20px 0
  //   .header__menu
  //     margin: 0 50px
  //     max-width: 100%
  //   .header__menu-link
  //     font-size: 20px
  //   .header__btn
  //     padding: 20px 40px
  //     font-size: 20px
  //   .header__logo
  //     img
  //       height: 38px
  //       margin-top: -5px
  // &.is-fixed
  //   transition: all $transitionSpeed $ease
  //   transform: translate3d(0,0,0)
  .container
    display: flex
    align-items: center
    justify-content: center
    overflow: visible
    max-width: 1200px
  &__item
    font-size: 16px
    color: #fff
    margin: 0 21px
    position: relative
    padding-bottom: 5px
    &:before
      display: block
      width: 0
      height: 2px
      background: #fff
      position: absolute
      content: ''
      left: 0
      bottom: 0
      transition: all $transitionSpeed $ease
    &:hover
      &:before
        width: 100%
  &__socials
    position: absolute
    right: 0
    top: -7px
    padding-right: 10px
    margin-right: -10px
    a
      margin-left: 11px
      display: inline-block
      font-size: 0
      border-radius: 50%
      img
        transition: all $transitionSpeed $ease
      &:hover
        img
            transform: scale(1.1)



  .hamburger
    display: none

// body.is-transitioning
//   .header
//     pointer-events: none
//   .header__menu
//     a
//       &.is-active, &:focus, &:hover
//         color: #fff

// +r($hd)
//   .header
//     &__wrapper
//       padding: 40px 0 0 0
//     &__menu
//       margin: 0 25px
//       max-width: 100%
//     &__menu-link
//       font-size: 16px
//     &__btn
//       padding: 15px 25px
//       font-size: 16px
//     &__logo
//       img
//         height: 35px
//         margin-top: -12px
//     &.is-fixed-start
//       .header__wrapper
//         padding: 20px 0 20px
//       .header__menu
//         margin: 0 25px
//         // max-width: 60%
//       .header__menu-link
//         font-size: 16px
//       .header__btn
//         padding: 15px 25px
//         font-size: 16px
//       .header__logo
//         img
//           height: 35px
//           margin-top: -12px

+r($tablet)
  .header
    
    .hamburger
      display: block
      .hamburger-inner
        background: $whiteColor
        &:before,
        &:after
          background: $whiteColor
