.firstscreen
  background-color: #2b3e0f
  background: url(../img/bg-main.jpg) center center no-repeat
  background-size: cover
  min-height: 100vh
  height: 100%
  display: flex
  align-items: center
  padding: 100px 0
  transition: all 1s $ease
  position: relative
  z-index: 3
  &__video
    position: fixed
    left: 0
    top: 0
    height: 100%
    // min-height: 100vh
    width: 100%
    &:after
      display: block
      position: absolute
      content: ''
      width: 100%
      height: 100%
      background: rgb(47,98,170)
      background: linear-gradient(180deg, rgba(47,98,170,1) 0%, rgba(47,98,170,0) 100%)
      z-index: 2
      top: 0
      left: 0
    video
      // height: 100%
      // min-height: 100vh
      // width: 100%
      // min-width: 100vw
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  // &.is-hidden
  //   margin-top: -100vh
  img
    // margin-top: -115px
    width: 136px
    height: auto
    margin-bottom: 15px
  .container
    text-align: center
  h1
    font-size: 64px
    color: #fff
    font-family: $crimson
    font-weight: 400
    line-height: 1
  h2 
    font-family: $crimson
    color: #D2B57F
    margin-top: 12px
    font-size: 30px
    font-weight: 400
  &__line
    margin: 25px auto 27px
    width: 50px
    height: 5px
    border-radius: 40px
    background: #fff
  &__list
    p
      font-size: 20px
      color: #fff
      font-family: $light
      span
        color: #818181
        display: inline-block
        margin: 0 15px
  &__button
    margin-top: 57px

+r($tablet)
  .firstscreen
    // padding: 99px 0 123px
    padding: 0
    &__video
      display: none
    .container
      padding: 99px 0 123px
    img
      width: 123px
      margin-bottom: 37px
    h1
      font-size: 48px
    h2
      font-size: 24px
      margin-top: 10px
    &__line
      margin: 33px auto 27px
    &__list
      p
        font-size: 16px
        span 
          margin: 0 8px
    &__button
      margin-top: 53px