.firstscreen
  background-color: #2b3e0f
  background: url(../img/bg-main.jpg) center center no-repeat
  background-size: cover
  min-height: 100vh
  height: 100%
  display: flex
  align-items: center
  padding: 100px 0
  transition: all 1s $ease
  position: relative
  z-index: 3
  &__video
    position: fixed
    left: 0
    top: 0
    height: 100%
    // min-height: 100vh
    width: 100%
    &:after
      display: block
      position: absolute
      content: ''
      width: 100%
      height: 100%
      background: rgb(47,98,170)
      background: linear-gradient(180deg, rgba(47,98,170,1) 0%, rgba(47,98,170,0) 100%)
      z-index: 2
      top: 0
      left: 0
    video
      // height: 100%
      // min-height: 100vh
      // width: 100%
      // min-width: 100vw
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  // &.is-hidden
  //   margin-top: -100vh
  img
    // margin-top: -115px
    width: 136px
    height: auto
    margin-bottom: 15px
  .container
    text-align: center
    position: relative
    z-index: 2
  h1
    font-size: 64px
    color: #fff
    font-family: $crimson
    font-weight: 400
    line-height: 1
  h2 
    font-family: $crimson
    color: #D2B57F
    margin-top: 12px
    font-size: 30px
    font-weight: 400
  &__line
    margin: 25px auto 27px
    width: 50px
    height: 5px
    border-radius: 40px
    background: #fff
  &__list
    p
      font-size: 20px
      color: #fff
      font-family: $light
      span
        color: #818181
        display: inline-block
        margin: 0 15px
  &__button
    margin-top: 57px
    &:hover
      background: #D2B57F
      border-color: #D2B57F
      color: #fff
  &__scroll
    position: relative
    text-align: center
    min-height: 42px
    margin: 40px auto 0
    text-align: center
    width: 100%
    z-index: 2
  &__mouse
    position: absolute
    width: 22px
    height: 42px
    top: 0
    margin: 0 auto
    left: 50%
    transform: translateX(-50%)
    border-radius: 15px
    border: 2px solid #fff
    // animation: intro 1s
  &__dot
    display: block
    width: 3px
    height: 3px
    margin: 6px auto
    border-radius: 50%
    background: #fff
    animation: finger 1s infinite

  @keyframes intro
    0%
      opacity: 0
      transform: translateY(40px)
    100%
      opacity: 1
      transform: translateY(0)

  @keyframes finger
    0%
      opacity: 1
    100%
      opacity: 0
      transform: translateY(20px)

+r($tablet)
  .firstscreen
    // padding: 99px 0 123px
    padding: 0
    // &__video
    //   display: none
    .container
      padding: 99px 0 123px
    img
      width: 123px
      margin-bottom: 37px
    h1
      font-size: 48px
    h2
      font-size: 24px
      margin-top: 10px
    &__line
      margin: 33px auto 27px
    &__list
      p
        font-size: 16px
        span 
          margin: 0 8px
    &__button
      margin-top: 53px


.back-to-top
  position: fixed
  bottom: 60px
  right: 60px
  width: 50px
  height: 50px
  font-size: 0
  text-decoration: none
  background: #26528c
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  border-radius: 3px
  transform: translateY(150px)
  transition: all 0.5s $ease
  &.is-active
    transform: translateY(0)
  img
    width: 22px
    height: 22px

+r($tablet)
  .back-to-top
    bottom: 20px
    right: 20px
    width: 40px
    height: 40px
    img
      width: 15px
      height: 15px