.who
  background: url(../img/bg-who.jpg) center center no-repeat
  background-size: cover
  padding: 193px 0 148px
  position: relative
  z-index: 3
  .container
    text-align: center
  &__video
    position: absolute
    left: 0
    top: 0
    height: 100%
    // min-height: 100vh
    width: 100%
    &:after
      display: block
      position: absolute
      content: ''
      width: 100%
      height: 100%
      z-index: 2
      top: 0
      left: 0
    video
      // height: 100%
      // min-height: 100vh
      // width: 100%
      // min-width: 100vw
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  &__title
    font-size: 36px
    font-family: $black
    color: #fff
  &__desc
    font-family: $book
    font-size: 16px
    margin: 15px auto 0
    line-height: 1.25
    color: #fff
  &__line
    margin: 48px auto 34px
    width: 50px
    height: 5px
    border-radius: 40px
    background: #fff
  &__grid
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding: 18px 0 11px
  &__item
    width: 22%
    min-width: 240px
    font-size: 0
    text-align: center
    p
      font-size: 20px
      color: #ffffff
      font-family: $book
      margin-top: 12px
  &__image
    min-height: 95px
    display: flex
    align-items: center
    justify-content: center

+r($tablet)
  .who
    padding: 95px 0
    &__video
      display: none
    &__line
      margin: 41px auto 38px
    &__grid
      flex-wrap: wrap
      padding-top: 0
      padding-bottom: 17px
    &__item
      min-width: 1px
      width: 100%
      margin-top: 30px
      &:first-child
        margin-top: 14px
      p
        margin-top: 6px
    &__image
      min-height: 88px