@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic')
  
@font-face
  font-family: 'Prata-Regular'
  src: url('../fonts/Prata/Prata-Regular.woff') format("woff"),
  url('../fonts/Prata/Prata-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Prata/Prata-Regular.ttf') format("truetype"),
  url('../fonts/Prata/Prata-Regular.svg#Circe-ExtraBold') format("svg")
  font-weight: normal
  font-style: normal